<?php
/**
 *     ____                        __     _____ __
 *    / __ \___  ____  ___  ____ _/ /_   / ___// /_____  ________
 *   / /_/ / _ \/ __ \/ _ \/ __ `/ __/   \__ \/ __/ __ \/ ___/ _ \
 *  / _, _/  __/ /_/ /  __/ /_/ / /_    ___/ / /_/ /_/ / /  /  __/
 * /_/ |_|\___/ .___/\___/\__,_/\__/   /____/\__/\____/_/   \___/
 *           /_/
 *
 * Repeat Store: Online shopping cart system for "Subscription and Distribution group"
 *
 * @category    application
 * @package     rpst
 */

namespace App\model\requests\rpst\{{.Namespace}};

use App\model\requests\rpst\admin\DefaultRequestModel;
use App\model\requests\rpst\admin\system\role\DeleteRequestModel;
use App\model\requests\rpst\admin\system\role\SearchRequestModel;
use App\model\requests\rpst\traits\legacy_rpst_web_factory\LegacyRpstWebRequestModelFactoryInterface;
use App\model\requests\rpst\traits\legacy_rpst_web_factory\LegacyRpstWebRequestModelFactoryTrait;

abstract class {{.Name}}Factory implements LegacyRpstWebRequestModelFactoryInterface
{
    use LegacyRpstWebRequestModelFactoryTrait;

    /**
     * @var array   クラスマップ
     */
    protected static $CLASS_MAP = [
        {{.Name}}::MODE   => {{.Name}}::class,
    ];
}
